*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
    font-family:"inter",sans-serif;
}
body{
    padding: 20px;
}
h3{
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
    color: aqua;
    text-transform: uppercase;
    letter-spacing: 1px;
}
form{
    width:300px ;
}
form .form-group{
   
    display: flex;
    flex-direction: column;
}
form .form-group label{
    font-weight: 500;
    text-transform: uppercase;
    min-width:150px ;
}

form .form-group input{
    font-size: 16px;
    padding:5px 10px ;
    border: none;
    outline: none;
    background-color:#f1f1f1 ;
    border-radius:5px ;
    margin: 10px 5px;

}
form button{
    padding:5px 20px;
    display: flex;
    gap: 5px;
    font-size:15px ;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color:brown ;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:15px 0;
}
table{
    border:1px solid #ccc;
    border-collapse:collapse ;
    min-width: 600px;
}
table thead tr{
   background-color: teal; 
   color: #fff;
   border-color: tomato;
}
table thead tr th{
    border-color: tomato; 
    font-weight: 400;
}
table td,
table th{
    border:1px solid #ccc; 
    padding:5px 10px ;
}
table td button{
    border: none;
    outline: none;
    font-size: 16px;
    color: #f1f1f1;
    padding:5px 10px ;
    display: block;
    margin: 0 auto;
    background-color:teal;
    border-radius:3px ;
    cursor: pointer;
}
.btn-delete{
    background-color: red;
}